<!DOCTYPE html>
<html>
  <head>
    <title>Word Counting is Fun</title>
  </head>
  <body>
    <h1>Enter a word and a sentence to see how often the word is used!</h1>

    <form action="/results" method="post">
      <label for="sentence-id">Input your sentence!</label>
      <input type="Text" name="sentence-id" value="">
      <label for="word-id">Input the word you would like counted!</label>
      <input type="Text" name="word-id" value="">
      <button type="submit" name="button">Begin the Journey</button>

    </form>
  </body>
</html>
